{% extends 'parent.html' %}

{% block body %}

{% if (not name or not bhajan) and not error %}
<div class="row">
    <div class="col-md-12">
        <h2 class="text-danger">Invalid bhajan id</h2>
    </div>
</div>
{% else %}

{% if just_added %}
<div class="row">
    <div class="col-md-12">
        <h2 class="text-success">{{ name }} was successfully added!</h2>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="col-md-12">
        <h3>Edit Bhajan</h3>
    </div>
</div>


<form enctype="application/x-www-form-urlencoded" method="post" action="/bhajanmanager/edit/{{ id }}">
    <div class="form-group">
        <label for="name">Bhajan Name *</label>
        <input type="text" class="form-control" name="name" id="name" value="{{ name }}" placeholder="Bhajan Name"
               required="true">
    </div>
    <div class="form-group">
        <p> To split the bhajan into specific slides, please include [pagebreak] on a line of its own.</p>
        <label for="bhajan">Bhajan Text *</label>
        <textarea class="form-control required" name="bhajan" id="bhajan" rows=15
                  placeholder="Bhajan">{{ bhajan }}</textarea>
         <label for="meaning">Meaning</label>
         <textarea class="form-control required" name="meaning" id="meaning" rows=15
                  placeholder="Bhajan">{{ meaning }}</textarea>
    </div>
    {% if error %}
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-danger">{{ error }}</h4>
        </div>
    </div>
    {% endif %}
    <button type="submit" class="btn btn-default">Edit</button>
</form>

{% endif %}

{% endblock %}