{% extends 'parent.html' %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <h3>Select your Bhajans</h3>
    </div>
</div>
<form enctype="application/x-www-form-urlencoded" method="post" action="/presentationmanager/sort">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="fillerSlides">Number of filler slides</label>
                <input type="number" class="form-control"name="fillerSlides" id="fillerSlides" placeholder="2" value="0">
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="index" class="table table-hover">
                <thead>
                <tr>
                    <th>Select</th>
                    <th>Id</th>
                    <th>Bhajan Name</th>
                </tr>
                </thead>
                <tbody>
                {%- for bhajan in bhajans %}
                <tr>
                    <td><input type="checkbox" name="bhajans_chosen" value="{{ bhajan.id }}"/></td>
                    <td>{{ bhajan.id }}</td>
                    <td>{{ bhajan.name }}</td>
                </tr>
                {%- endfor %}
                </tbody>
            </table>
        </div>
    </div>
     <div class="row">
        <div class="col-md-4 col-md-offset-8">
            <input type="submit" class="btn btn-primary" value="Next"/>
        </div>
    </div>
</form>


{% endblock %}