{% extends 'parent.html' %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <h3>Add, edit and sort Bhajans for the presentation</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>Instructions</h4>
        <ul>
            <li>Add bhajans by either: </li>
            <ul>
                <li>Searching for the Bhajan at the end of the page and clicking on the bhajan id.</li>
                <li>Entering a Bhajan Id directly and clicking Add bhajan to list</li>
                <li>You can add a filler slide by clicking the Add a Filler Slide.</li>
                <li>If you can't find a bhajan, please click Add a new bhajan and then include the lyrics by clicking the edit icon by the title box (<span class='glyphicon glyphicon-edit' aria-hidden='true'></span>).</li>
            </ul>
            <li>Sort your bhajans by simply reordering them by dragging and dropping them</li>
            <li>Delete a chosen bhajan by clicking the <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> icon by its id</li>
            <li>Edit the bhajan for this presentation by clicking on the edit icon (<span class='glyphicon glyphicon-edit' aria-hidden='true'></span>) by the title box and modifying the bhajan in the textarea below</li>
            <li>Enter the key for each Bhajan</li>
            <li>Click Generate Presentation</li>
            <li>Email centrallondonsaicentre@gmail.com if you would like a bhajan permanently added to the database or for any other queries or suggestions.</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form enctype="multipart/form-data" method="post"
              action="/presentationmanager/generate" class="form-horizontal" id="generator-form">
            <h3>Workspace</h3>
            <div class="form-group">
                <label for="slideTitle" class="col-sm-2 control-label">Presentation Title: </label>
                <div class="col-sm-10">
                    <input type="text" name="slideTitle" id="slideTitle" style="width:300px;" value="{{title}}"/>
                </div>
            </div>
            <div class="form-group">
                <label for="slideSubtitle" class="col-sm-2 control-label">Presentation Sub-title: </label>
                <div class="col-sm-10">
                    <input type="text" name="slideSubtitle" id="slideSubtitle" value="{{subtitle}}"/>
                </div>
            </div>
            <div class="row" id="divOfBhajans" style="display:none;" >
                <table id="presentationIndex" class="table table-hover">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Bhajan Name</th>
                        <th>Key</th>
                    </tr>
                    </thead>
                    <tbody id="sortable">

                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-4">
                        <label for="backgroundImage">Optional: Upload a background image to use for all slides</label>
                        <input accept="image/*" type="file" name="backgroundImage" id="backgroundImage"/>
                    </div>
                    <div class="col-md-4">
                        <label for="textColor">Text Color: </label>
                        <input class="jscolor" name="textColor" id="textColor" value="ffffff">
                    </div>
                    <div class="col-md-4 col-md-offset-4">
                        <input type="submit" class="btn btn-primary" value="Generate Presentation"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <hr/>
    <div class="col-md-3" id="demoDescription" style="display:none;">
        Please click on a Bhajan above to preview it and modify if necessary.
        You can add the following on a line of its own to specify the start of a new slide:
        [pagebreak]
    </div>
    <div class="col-md-6 demoHolder">
    </div>
</div>
<div class="row">
    <hr/>
    <div class="col-md-3">
        <input id="addFillerSlide" class="btn btn-primary" type="button" value="Add Filler Slide"/>
    </div>
    <div class="col-md-6">
        <input type="number" placeholder="Bhajan id to add" name="bhajan_to_add_id" id="bhajan_to_add_id"/>
        <input id="addBhajanBtn" class="btn btn-primary" type="button" value="Add bhajan to list"/>
    </div>
    <div class="col-md-3">
        <input id="addNewBhajanBtn" class="btn btn-primary" type="button" value="Add a New Bhajan"/>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Bhajans to choose from:</h3>
        <table id="index" class="table table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Bhajan Name</th>
            </tr>
            </thead>
            <tbody>
            {%- for bhajan in bhajans %}
            <tr>
                <td><a href="#" class="indexBhajanId"> {{ bhajan.id }} </a></td>
                <td>{{ bhajan.name }}</td>
            </tr>
            {%- endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-93577407-1', 'auto');

    // Gets a reference to the form element, assuming
    // it contains the id attribute "signup-form".
    var form = document.getElementById('generator-form');

    // Adds a listener for the "submit" event.
    form.addEventListener('submit', function(event) {

      // Prevents the browser from submitting the form
      // and thus unloading the current page.
      event.preventDefault();
      // Get the title used.
      var title = $('#slideTitle').val();
      ga('set', 'dimension1', title);

      // Sends the event to Google Analytics and
      // resubmits the form once the hit is done.
      ga('send', 'pageview', {
        hitCallback: function() {
          form.submit();
        }});
    });

</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jscolor.min.js') }}"></script>

<script type="text/javascript">
    $.fn.mirror = function (selector) {
        return this.each(function () {
            var $this = $(this);
            var $selector = $(selector);
            $this.bind('keyup', function () {
                $selector.val(($this.val()));
            });
        });
    };
    $('#addBhajanBtn').click(function() {
        fetchBhajan($('#bhajan_to_add_id').val());
        return false;
    });
    $( function() {
        $( "#sortable" ).sortable();
    });
    $(function () {
        $('#index').DataTable();
    });
    $('.indexBhajanId').click(function() {
         fetchBhajan($(this).html());
         return false;
    });
    $('#addFillerSlide').click(function() {
        fetchBhajan("-1");
        return false;
    });
    $('#addNewBhajanBtn').click(function() {
        addBhajanToPage(0, "", "");
        return false;
    });
    function fetchBhajan(bhajanId) {
        if (bhajanId == '0') {
            addBhajanToPage(0, "", "");
            return;
        }
        var url = "/bhajanmanager/bhajanjson/"+ bhajanId;
         $.get(url, function(data) {
            if (Object.keys(data).length === 0) {
                alert("No Bhajan with that id: " + bhajanId);
            } else {
                title = data['name']
                id = data['id']
                bhajan = data['bhajan']
                addBhajanToPage(id, title, bhajan);
            }
        });
    }
    function addBhajanToPage(id, title, bhajan) {
        $('#divOfBhajans').css('display', 'block');

        deleteLink = '<a class="deleteLink" href="#"><span \
                            class="glyphicon glyphicon-remove" \
                            aria-hidden="true"></span></a>';
        if (id == "-1") {
            // filler slide
            html = "<tr> <td>" + deleteLink + "</td> \
            <td> Filler slide </td> \
            <input type='hidden' value='' name='title' id='title'/> \
            <input type='hidden' value='' name='bhajan_id' id='bhajan_id'/> \
            <input type='hidden' value='' name='bhajan' id='bhajan'/> \
            <td><input type='hidden' name='key' value=''/> </td> </tr>";
            $('#presentationIndex > tbody:last-child').append(html)
            tr = $('#presentationIndex > tbody:last-child tr').last()
            tr.find('#bhajan_id').val(id)
        } else {
            html = "<tr><td>" + deleteLink + "</td> \
            <td class='properBhajan'><input type='text' id='title' name='title' style='width:250px' href='#'></a><a id='bhajanEdit' href='#'> \
                                <span class='glyphicon glyphicon-edit' aria-hidden='true'></span></a></td> \
            <input type='hidden' value='' name='bhajan_id' id='bhajan_id'/> \
            <input type='hidden' value='' name='bhajan' id='bhajan'/> \
            <td><input type='text' name='key' /> </td> </tr>";
            $('#presentationIndex > tbody:last-child').append(html)
            tr = $('#presentationIndex > tbody:last-child tr').last()
            tr.find('td').first().prepend(id + " ")
            tr.find('#title').val(title)
            tr.find('#bhajan_id').val(id)
            tr.find('#bhajan').val(bhajan)
        }
        tr.find(".deleteLink").one("click", function() {
            // this is bad, this adds the listener to all previously present items as well
            var tr = $(this).closest('tr');
            tr.css("background-color","#FF3700");
            tr.fadeOut(400, function(){
                tr.remove();
            });
            return false;
        });
        $(".properBhajan a#bhajanEdit").click(function() {
            $('#demoDescription').css('display', 'block');
            var tr = $(this).closest('tr');
            var bhajan_hidden = tr.find('input[id="bhajan"]');
            var bhajan_id = tr.find('input[id="bhajan_id"]');
            var demoId = "demo"+bhajan_id.val();
            var newDemo = "Currently Selected Bhajan: <br/><textarea  class='form-control' rows='11' cols='50' id='"+demoId+"'>"+bhajan_hidden.val()+"</textarea>";
            $('.demoHolder').html(newDemo);
            $("#"+demoId).mirror(bhajan_hidden);
            return false;
        });
    }
</script>

{% endblock %}